!!!
html
  head
    title Akiban Slouch
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
      .hero-unit
        .row
          .span8
            h1 Akiban Slouch

            block content

            script(src='/jquery-1.8.0.min.js')
            script(src='/underscore-min.js')
            script(src='/backbone.js')
            script(src='/moment.min.js')
            != js('client')
